{% extends "base.html" %}

{% block content %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Osoba</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                    <tr>
                        <td>{{ skill.name }}</td>
                        <td>
                            {% for person in skill.persons_set.all %}
                                <p>{{ person.first_name }} {{ person.last_name }} - {{ person.position.name }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}